<div id="help-accordion">
  <div class="accordion">
    <% @tutorials.each do |key, val| -%>
      <% group_id = "tutorial-#{key}" -%>
      <% active_tutorial = @tutorial == key %>
      <div class="tutorial accordion-group">
        <div class="heading accordion-heading">
          <h3><a class="accordion-toggle" data-toggle="collapse" href="#<%= group_id %>" data-parent="#help-accordion"><%= val['label']  %></a></h3>
        </div>
        <div id="<%= group_id %>" class="accordion-body <%= active_tutorial ? 'in' : 'collapse' %>">
          <div class="accordion-inner">
            <ul class="help-list">
              <% val.each do |item_key, item_val| -%>
                <% unless item_key == 'label' -%>
                  <% active_section = active_tutorial && @section == item_key %>
                  <li class="<%= active_section ? 'active' : 'common' %>">
                    <a href="/help/<%= key %>/<%= item_key %>"><%= item_val %></a>
                  </li>
                <% end -%>
              <% end -%>
            </ul>
          </div>
        </div>
    </div>
    <% end -%>
  </div>
</div>