<head>
<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      color: black;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }

table#t01 tr:nth-child(even) {
      background-color: #eee;
    }

table#t01 tr:nth-child(odd) {
      background-color:#fff;
     }

table#t01 th  {
    background-color: #c2c2d6;
    color: black;
    font-size: 15px;
      }


.button{
  color: "black";
  width: 90px;
  height: 47px;

    }
</style>
</head>

<body>

<h1>ბილინგში გაგზავნილი განცხადებები</h1>
<br><br>

<table id="t01">
  <thead>
<th style="text-align: center;">id </th>
<th style="text-align: center;">სტატუსი </th>
<th style="text-align: center;">ახალი მობილურის ნომერი </th>
<th style="text-align: center;">სახელი გვარი </th>
<th style="text-align: center;">დრო </th>
<th style="text-align: center;">მომხმარებელი </th>
<th style="text-align: center;">ქოლცენტრის კომენტარი </th>  
<th style="text-align: center;">პასუხი</th>  
 
  </thead>

  <tbody>
<% @call_call_mobiles.each do |call_call_mobile| %>
  <tr>
    <td><%= call_call_mobile.id %></td>
    <td><%= call_call_mobile.status_desc %></td>    
    <td><%= call_call_mobile.mobile %></td>
    <td><%= call_call_mobile.bs_custname %></td>
    <td><%= call_call_mobile.enterdate.in_time_zone("Tbilisi").strftime("%d%b%Y %H:%M:%S") %></td>
    <td><%= call_call_mobile.bs_operator_call %></td>    
    <td><%= call_call_mobile.bs_note_call %></td>
    <td><%= call_call_mobile.bs_note_bill %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @call_call_mobiles %><br>

</body>