<head>
<style>
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      color: black;
  }
  th, td {
      padding: 5px;
      text-align: left;
  }

table#t01 tr:nth-child(even) {
      background-color: #eee;
    }

table#t01 tr:nth-child(odd) {
      background-color:#fff;
     }

table#t01 th  {
    background-color: #c2c2d6;
    color: black;
    font-size: 15px;
      }


.button{
  color: "black";
  width: 90px;
  height: 47px;

    }
</style>
</head>

<body>

<div style="background-color: #fff2e6; padding: 20px; border-radius: 15px;"} >
	<h1>ახალი განაცხადის შევსება</h1>
	<br>
	<h3>აბონენტი: <%= @custname.tr("ÀÁÂÃÄÅÆÈÉÊËÌÍÏÐÑÒÓÔÖ×ØÙÚÛÜÝÞßàáãä","აბგდევზთიკლმნოპჟრსტუფქღყშჩცძწჭხჯჰ").force_encoding("UTF-8") rescue nil%>, ნომერი: <%= @accnumb  %></h3> 
</div>

<%= render 'form_new' %>
<br>

<div style="background-color: #fff2e6; padding: 20px; border-radius: 15px;"} >
<h1>ამ აბონენტზე ბილინგში გაგზავნილი განცხადებები</h1>
</div>
<br><br>

<table id="t01">
  <thead>
<th style="text-align: center;">id </th>
<th style="text-align: center;">აბონენტის # </th>
<th style="text-align: center;">სტატუსი </th>
<th style="text-align: center;">ახალი მობილურის ნომერი </th>
<th style="text-align: center;">სახელი გვარი </th>
<th style="text-align: center;">დრო </th>
<th style="text-align: center;">მომხმარებელი </th>
<th style="text-align: center;">ქოლცენტრის კომენტარი </th>  
<th style="text-align: center;">დაბრუნებული პასუხი</th>  
<th style="text-align: center;">ჩანაწერის წაშლა</th>  
 
  </thead>

  <tbody>
<% @callmobilearch.each do |callmobilearch| %>
  <tr>
    <td><%= callmobilearch.id %></td>
    <td><%= callmobilearch.accnumb %></td>    
    <td><%= callmobilearch.status_desc %></td>    
    <td><%= callmobilearch.mobile %></td>
    <td><%= callmobilearch.bs_custname %></td>
    <td><%= callmobilearch.enterdate.in_time_zone("Tbilisi").strftime("%d%b%Y %H:%M:%S") %></td>
    <td><%= callmobilearch.bs_operator_call %></td>    
    <td><%= callmobilearch.bs_note_call %></td>
    <td><%= callmobilearch.bs_note_bill %></td>
    <td>
      <% if (current_user.to_s == callmobilearch.bs_operator_call or current_user.call_admin? ) and callmobilearch.status == 0 %>
       <img src="/assets/fff/script_delete.png"  style="width:14px;height:14px;border:0">
       <%= link_to 'წაშლა ', call_call_mobile_path(callmobilearch.id), method: :delete, data: { confirm: 'ნამდვილად გსურთ წაშლა?' } %>
      <% end %>
    </td>    
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @callmobilearch %><br>





</body>