<style type="text/css">
.title {
  padding:32px;
  font-size:32px;
  text-align:center;
  border-bottom: 5px solid green;
  background: #c9b070;
  color: white;
  text-shadow: 1px 1px black;
}
</style>

<%= render partial: 'call/sms_notice' %>

<!-- main menu -->

<div class="title">
  ქოლ-ცენტრი: მთავარი მენიუ
</div>

<div style="text-align: center" class="btn-toolbar">
  <%= link_to icon_text('search', 'აბონენტების ძებნა', white: true), call_customer_url, class: ['btn', 'btn-success', 'btn-large'] %>
  <%= link_to icon_text('tasks', 'ყველა დავალება'), call_all_tasks_url, class: ['btn', 'btn-large'] %>
  <%= link_to icon_text('bookmark', 'დოკუმენტები'), call_docs_url, class: ['btn', 'btn-large'] %>
  <%= role_content :all_regions do %>
    <%= link_to icon_text('fire', 'გათიშვები'), call_outages_url, class: ['btn', 'btn-large'] %>
  <% end %>
  <%= role_content :sys_admin do %>
    <%= link_to icon_text('cog', 'ადმინისტრირება'), call_admin_url, class: ['btn', 'btn-large'] %>
  <% end %>
</div>

<%= call_tasks_table(@tasks, title: 'მიმდინარე დავალებები') do |t|
  t.title_action call_print_tasks_url, label: 'ბეჭდვა', icon: '/assets/fff/printer.png'
  t.title_action call_sync_tasks_url, icon: '/assets/fff/arrow_refresh.png', label: 'სიქნრონიზაცია', method: :post, confirm: 'ნამდვილად გინდათ სინქრონიზაცია?'
  t.title_action call_home_url(format: 'xlsx'), label: 'ექსელში', icon: '/assets/fff/page_excel.png'
  t.item_action ->(x){ call_complete_task_url(id: x.id) }, icon: '/assets/fff/tick.png', method: 'post', confirm: 'ნადვილად გინდათ დასრულება?', condition: ->(x){ not current_user.all_regions }
end %>

<%= render partial: 'call/outages' %>