<style type="text/css">
.title {
  padding:32px;
  font-size:32px;
  text-align:center;
  border-bottom: 5px solid green;
  background: #c9b070;
  color: white;
  text-shadow: 1px 1px black;
}
</style>

<!-- main menu -->

<div class="title">
  ქოლ-ცენტრი: მთავარი მენიუ
</div>
<div style="text-align: center" class="btn-toolbar">
  <%= link_to icon_text('search', 'აბონენტების ძებნა', white: true), call_customer_url, class: ['btn', 'btn-success', 'btn-large'] %>
  <%= link_to icon_text('time', 'ყველა დავალება'), call_all_tasks_url, class: ['btn', 'btn-large'] %>
</div>
<%= cc_not_complete_tasks_list(@tasks) %>
<%= paginate @tasks %>
<%= cc_favorites_table(@favorites) %>

<%= role_content :sys_admin do %>

<!-- admin menu -->

<div class="title">
  ადმინისტრირება
</div>

<%= cc_status_table(@stats) %>
<%= cc_region_data_table(@mobiles) %>

<% end %>