<%= android_links title: @title %>

<div class="page-header">
  <h3>მარშრუტები</h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th width="100">მარშრუტი</th>
      <th width="100">თარიღი</th>
      <th>ინსპექტორი</th>
      <th width="150">ბლოკი</th>
      <th width="100">გადმოწერა</th>
      <th width="100">ატვირთვა</th>
    </tr>
  </thead>
  <% @routes.each do |r| %>
    <tr class="<%= route_header_class(r) %>">
      <td><%= link_to r.routekey, android_route_url(id: r.route_header_id) %></td>
      <td><%= r.cycledate.strftime('%d-%b-%Y') %></td>
      <td><%= r.inspector.persname.to_ka %></td>
      <td><%= r.route.block.blockname.to_ka %></td>
      <td><%= image_tag 'fff/application_put.png' %> <strong><%= r.download_count %></strong></td>
      <td><%= image_tag 'fff/application_get.png' %> <strong><%= r.upload_count %></strong></td>
    </tr>
  <% end %>
</table>
<%= paginate @routes %>