<ul class="breadcrumb">
  <% address.path.each do |p| %>
  <li>
    <%= image_tag cra_address_icon(p.identificator) unless p.identificator.blank? %>
    <%= link_to p.description_full || p.identificator_text, cra_by_address_url(id: p.cra_id) %>
    <span class="divider">/</span>
  </li>
  <% end %>
  <li>
    <%= image_tag cra_address_icon(address.identificator) unless address.identificator.blank? %>
    <strong><%= address.description_full %></strong>
    <% unless address.identificator_text.blank? %>
      &mdash; <span class="muted"><%= address.identificator_text %></span>
    <% end %>
  </li>
</ul>