<%= render partial: 'cra/cra/address_nav', locals: { address: @address } %>

<% if @children and @children.any? %>
<div style="padding-bottom: 8px;">
  <h3>ქვე-მისამართები</h3>
</div>
<table class="table">
  <tbody>
    <% @children.each do |child| %>
    <tr>
      <td width="16">
        <%= image_tag cra_address_icon(child.identificator) %>
      </td>
      <td>
        <%= link_to child.identificator_text, cra_by_address_url(id: child.cra_id), style: 'color: #aaa;', 'data-identificator' => child.identificator %>
        <% unless child.description_full.blank? %>
        &mdash; <strong><%= link_to child.description_full, cra_by_address_url(id: child.cra_id) %></strong>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% elsif @persons and @persons.any? %>
<div style="padding-bottom: 8px;">
  <h3>მისამართზე რეგისტრირებული პირები</h3>
</div>
<table class="table">
  <tbody>
    <% @persons.each do |person| %>
    <tr>
      <td>
        <code><%= person.private_number %></code>
        <strong><%= link_to person.full_name, cra_by_name_and_dob_url(first_name: person.first_name, last_name: person.last_name, date: person.birth_date.strftime('%d-%b-%Y')) %></strong> &mdash;
        <span class="muted"><%= person.address_text %></span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="well">
  მონაცემები არ არის.
</div>
<% end %>