<div class="page-header">
  <h2>სამოქალაქო რეესტრი <small>პიროვნების შესახებ ინფორმაციის ძებნა</small></h2>
</div>

<div>
  <div class="page-header">
    <h3>ბოლო დოკუმენტი <small>პირადობის მოწმობის მიხედვით</small></h3>
  </div>
  <%= form_tag cra_last_url, {method: 'get', class: 'form-inline'} do %>
    <%= text_field_tag :private_number, params[:private_number], placeholder: 'პირადი ნომერი (11 ნიშნა კოდი)', class: 'span2' %>
    <%= submit_tag 'ძებნა', class: 'btn btn-primary' %>
  <% end %>
</div>

<div>
  <div class="page-header">
    <h3>ყველა დოკუმენტი <small>სახელი, გვარი და დაბადების თარიღით</small></h3>
  </div>
  <%= form_tag cra_all_url, {method: 'get', class: 'form-inline'} do %>
    <%= text_field_tag :first_name, params[:first_name], placeholder: 'სახელი', class: 'span2' %>
    <%= text_field_tag :last_name, params[:last_name], placeholder: 'გვარი', class: 'span2' %>
    <%= text_field_tag :date, params[:date], placeholder: 'დაბ.თარიღი', class: 'span2 datepicker' %>
    <%= submit_tag 'ძებნა', class: 'btn btn-primary' %>
  <% end %>
</div>

