<style type="text/css">
  .map-container { position: fixed; top: 40px; bottom: 0; left: 0; right: 0; background: white; }
  .map-container .details { width: 250px; background: #fafafa; position: absolute; top: 0; left: 0; bottom: 0; padding: 10px 10px; }
  #map { position: absolute; left: 250px; right: 0; top: 0; bottom: 0; }
  #map label { width: auto; display:inline; }
  #map img { max-width: none; max-height: none; }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD_wcFfq6rCVz4A4HCMypFizALZ1IK3jZg&sensor=true">
</script>
<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @region.latitude%>, <%= @region.longitude %>);
    var myOptions = { center: myLatlng, zoom: 18, mapTypeId: google.maps.MapTypeId.HYBRID };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    var marker = new google.maps.Marker({ position: myLatlng, map: map, title:"<%= @region.name %>", draggable: true, animation: google.maps.Animation.DROP });
    google.maps.event.addListener(marker, 'dragend', function() {
      var url = '<%= sys_set_location_url %>';
      var lat = marker.getPosition().lat();
      var lng = marker.getPosition().lng();
      $.post(url, {lat: lat, lng: lng}, function() {
        console.log(lat + ' : ' + lng);
      });
    });
  }
  $(function() {
    initialize();
  });
</script>
<div class="map-container">
  <div class="details">
    <div class="btn-toolbar">
      <%= link_to icon_text('arrow-left', 'სიაში'), sys_regions_url, class: ['btn', 'btn-mini'] %>
      <%= link_to icon_text('pencil', 'შეცვლა'), sys_edit_region_url, class: ['btn', 'btn-mini'] %>
    </div>
    <div class="page-header">
    <h3><%= @region.name %></h3>
    </div>
    <p class="muted"><%= @region.address %></p>
    <p class="muted"><%= @region.phone %></p>
  </div>
  <div id="map"></div>
</div>