= simple_form_for(@application, :url => new_application_url(:tariff_id => @tariff.id), :html => {:class => 'form-horizontal'}) do |f|
	%h3 მონაცემები განმცხადებელზე
	%p.muted
		შეიყვანეთ მონაცემები განცხადების ავტორის შესახებ.
		%ul.muted
			%li
				იურიდიული პირის შემთხვევაში მიუთითეთ მისი საიდენტიფიკაციო კოდი,
				ფიზიკური პირის შემთხვევაში კი &mdash; მისი პირადი ნომერი;
			%li
				მისამართში ჩაწერეთ ორგანიზაციის/პიროვნების მისამართი და არა
				შესაერთებელი ობიექტის მისამართი;
			%li
				ჩაწერეთ მობილური ნომერი, რომელზეც შემდგომში მიიღებთ
				მოკლე ტექსტურ შეტყობინებებს განცხადებაში მომხდარი ცვლილებების
				შესახებ;
			%li
				თქვენ ასევე შეგიძლიათ დამატებითი ელ.ფოსტის მითითება, მასზე შეტყობინების მიღების მიზნით.
				შეტყობინება ასევე მოგივათ ანგარიშის (მომხმარებლის) ელექტრონულ ფოსტაზე.
	= simple_fields_for(@application.applicant) do |applicant_fields|
		= applicant_fields.input :tin, :label => 'საიდ. კოდი', :input_html => {:autofocus => true, :class => :span2}
		= applicant_fields.input :address, :label => 'მისამართი', :input_html => {:class => :span6}
		= applicant_fields.input :mobile, :label => 'მობილური'
		= applicant_fields.input :email, :label => 'ელ.ფოსტა'

	%h3 განმცხადებლის საბანკო ანგარიში
	%p.muted
		თქვენი საბანკო ანგარიშის მითითება აუცილებელია, რომ ჩვენ შეგეძლოს თქვენს მიერ
		გადახდილი თანხის უკან დაბრუნება, იმ შემთხვევაში თუ თქვენი განცხადების შესრულებაზე
		უარი გეთქვათ.
	%ul.muted
		%li
			ჩაწერეთ ბანკის SWIFT კოდი და მისი დასახელება
		%li
			ბანკის ანგარიშის ნომერი უნდა იყოს მოცემული EBAN სტანდარტში.
			ამ სტანდარტში ანგარიშის ნომერი 21 სიმბოლოსგან შედგება.
	= simple_fields_for(@application.bank_account) do |bank_fields|
		= bank_fields.input :swift, :label => 'SWIFT კოდი'
		= bank_fields.input :bank, :label => 'ბანკის დასახელება'
		= bank_fields.input :eban, :label => 'ანგარიშის ნომერი'

	%h3 მისამართი
	%p.muted
		ჩაწერეთ მისაერთებელი ობიექტის მისამართი. თუ მისამართი ერთზე მეტია,
		ჩაწერეთ მხოლოდ ძირითადი მისამართი.
	= f.input :address, :label => 'მისამართი', :input_html => {:class => :span6}
	= f.input :address_code, :label => 'საკადასტრო კოდი'

	%h3 პასუხის მიღება
	%p.muted
		განსაზღვრეთ თუ რა ფორმით გსურთ პასუხის მიღება აღნიშნულ განცხადებაზე.
	= f.input :email_response, :as => :boolean, :label => 'ელექტრონულად'
	= f.input :written_response, :as => :boolean, :label => 'წერილობით'
	.form-actions
		= f.button :submit, 'განცხადების შენახვა', :class => ['btn', 'btn-primary']
		= link_to 'გაუქმება', home_url, :class => ['btn'], :confirm => 'ნამდვილად?'
		