.page-header
	%h2 განცხადებები <small>აბონენტის ქსელში მიერთება</small>
.btn-toolbar
	= link_to icon_text('plus', 'ახალი განცხადება'), new_application_url, :class => ['btn']
	%span.muted თქვენ ასევე შეგიძლიათ #{link_to 'მომსახურების ტარიფების', tariffs_url} ნახვა
%table.table.table-bordered.table-striped
	%thead
		%tr
			%th.center{:width => 16}= icon_text('picture')
			%th{:width => 300} განმცხადებელი
			%th მისამართი
			%th.center{:width => 100}= icon_text('cog')
	%tbody
		- @applications.each do |app|
			%tr
				%td
				%td #{link_to app.applicant.tin, show_application_url(app)} <span class="muted">#{app.applicant.name}</span>
				%td= app.address
				%td.center
					= link_to icon_text('pencil'), edit_application_url(app), :rel => :tooltip, 'data-original-title' => 'განცხადების შეცვლა'
					= link_to icon_text('trash'), delete_application_url(app), :method => :delete, :confirm => 'ნამდვილად გინდათ ამ განცხადების წაშლა?', :rel => :tooltip, 'data-original-title' => 'განცხადების წაშლა'