.page-header
	%h2 განცხადების პარამეტრები <small><strong>#{@application.applicant.tin}</strong>, #{@application.applicant.name}</small>
.btn-toolbar
	= link_to icon_text('arrow-left', 'განცხადებებში დაბრუნება'), home_url, :class => :btn
	= link_to icon_text('pencil', 'მონაცემების შეცვლა'), edit_application_url(@application), :class => :btn
	= link_to icon_text('print', 'განცხადების ამობეჭდვა'), print_application_url(@application), :class => :btn
	= link_to icon_text('trash', 'განცხადების წაშლა'), delete_application_url(@application), :method => :delete, :class => :btn, :confirm => 'ნამდვილად გინდათ ამ განცხადების წაშლა?'
.row
	.span6
		%h3 ინფორმაცია განმცხადებელზე
		%table.table.table-bordered.table-striped.tabled-condensed
			%tr
				%th{:width => 150} საიდ. ნომერი
				%td= @application.applicant.tin
			%tr
				%th დასახელება
				%td= @application.applicant.name
			%tr
				%th მისამართი
				%td= @application.applicant.address
			%tr
				%th მობილური
				%td= @application.applicant.mobile
			%tr
				%th ელ.ფოსტა
				%td= mail_to @application.applicant.email
		%h3 განმცხადებლის საბანკო მონაცემები
		%table.table.table-bordered.table-striped.tabled-condensed
			%tr
				%th{:width => 150} ბანკის SWIFT
				%td= @application.bank_account.swift
			%tr
				%th ბანკის დასახელება
				%td= @application.bank_account.bank
			%tr
				%th ანგარიშის №
				%td= @application.bank_account.eban
		%h3 მისაერთებელი მისამართი
		%table.table.table-bordered.table-striped.tabled-condensed
			%tr
				%th{:width => 150} მისამართი
				%td= @application.address
			%tr
				%th საკადასტრო კოდი
				%td= @application.address_code
	.span6
		%h3 საფასური და შესრულების ვადა
		%table.table.table-bordered.table-striped.tabled-condensed
			%tr
				%th{:width => 250} ძაბვის საფეხური
				%td.right #{@tariff.voltage} კვ
			%tr
				%th{:width => 250} სრული სიმძლავრე
				%td.right #{@tariff.power} კვტ
			%tr
				%th მომსახურების საფასური სრულად
				%td.right #{number_format @tariff.price, 0} ლარი
			%tr
				%th შესრულების მაქსიმალური ვადა
				%td.right #{@tariff.complete} დღე
		%h3 მიმდინარეობა
		%table.table.table-bordered.table-striped.tabled-condensed
			%tr
				%th{:width => 250} განცხადების სტატუსი
				%td= icon_text(app_status_icon(@application), app_status_name(@application))
			%tr
				%th როდის შეიქმნა?
				%td= @application.created_at.strftime('%d-%b-%Y %H:%M')
			%tr
				%th როდის შემოვიდა?
				%td= @application.send_date.strftime('%d-%b-%Y %H:%M') if @application.send_date
			%tr
				%th როდის გაეცა პასუხი?
				%td= @application.response_date.strftime('%d-%b-%Y %H:%M') if @application.response_date
			%tr
				%th როდის დასრულდა?
				%td= @application.close_date.strftime('%d-%b-%Y %H:%M') if @application.close_date
		%h3 შეტყობინების სახე
		.response
			- if @application.email_response
				%span.label.label-info ელექტრონულად
			- if @application.written_response
				%span.label.label-success წერილობით
			- if not @application.email_response and not @application.written_response
				%span.label.label-important განუსაზღვრელი
.items
	.page-header
		%h2 აბონენტების სია <small>თქვენი მოთხოვნის დეტალები</small>
	.btn-toolbar
		= link_to icon_text('plus', 'აბონენტის დამატება'), new_application_item_url(@application), :class => :btn
	%table.table.table-bordered.table-striped
		%thead
			%tr
				%th{:width=>25} №
				%th{:width=>100} საიდ. ნომერი
				%th{:width => 250} დასახელება
				%th მისამართი
				%th{:width=>100} ძაბვა
				%th{:width=>100} სიმძლავრე
				%th.center{:width=>50}= icon_text 'cog'
		%tbody
			- indx = 0
			- @application.application_items.each do |item|
				- indx += 1
				%tr
					%td= indx
					%td= item.tin
					%td= item.name
					%td= item.address
					%td.right #{item.tariff.voltage} კვ
					%td.right #{item.tariff.power} კვტ
					%td.center
						= link_to icon_text('pencil'), edit_application_item_url(:id => item.id, :app_id => @application.id)
						= link_to icon_text('trash'), delete_application_item_url(:id => item.id, :app_id => @application.id), :method => :delete, :confirm => 'ნამდვილად გინდათ ამ აბონენტის წაშლა?'