.page-header
	%h2 მომსახურების ტარიფები <small>აბონენტის ქსელში მიერთება</small>
.btn-toolbar
	= link_to icon_text('arrow-left', 'განცხადებებში დაბრუნება'), home_url, :class => 'btn'
%table.table.table-bordered.table-striped
	%thead
		%tr
			%th{:width => 200} ძაბვის საფეხური (კვ)
			%th{:width => 200} სიმძლავრე (კვტ)
			%th{:width => 200} შესრულების პერიოდი (კალენდარული დღე)
			%th{:width => 200} საფასური (ლარი)
	%tbody
		- @tariffs.each do |tariff|
			%tr
				%td.center #{tariff.voltage} კვ
				%td.center #{tariff.power} კვტ
				%td.center #{tariff.complete} დღე
				%td.right  #{number_format(tariff.price, 0)} ლარი
%p.muted
	მოყვანილ ტარიფებს საფუძვლად უდევს
	<em>საქართველოს ენერგეტიკისა და წყალმომარაგების მარეგულირებელი ეროვნული კომისიის დადგენილება №20 (2008 წლის 18 სექტემბერი)</em>