<table class="table table-bordered table-striped coloring">
  <thead>
    <tr>
      <th width="150">№ და ტიპი</th>
      <th width="300">აპლიკანტი</th>
      <th width="125">თარიღები</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |app| -%>
      <tr class="<%= app_row_class(app) %>">
      	<td>
      	  <%= app_link(app) %><br>
      	  <span class="muted"><%= app_type(app) %></span>
      	</td>
        <td>
          <span class="badge badge-inverse"><%= tooltiped_text app.applicant.tin, 'განმცხადებლის საიდენტიფიკაციო ან პირადი ნომერი', :right %></span>
          <%= app.applicant.name %><br>
          <%= mail_to app.applicant.email %> <span class="muted"><%= C12.format_mobile app.applicant.mobile %></span>
        </td>
        <td>
          <%= tooltiped_text app.created_at.strftime('%d-%b-%Y %H:%M'), 'შექმნის თარიღი', :left %><br>
          <span class="muted"><%= tooltiped_text app.updated_at.strftime('%d-%b-%Y %H:%M'), 'ბოლო ცვლილების თარიღი', :left %></span>
        </td>
        <td></td>
      </tr>
    <% end -%>
  </tbody>
</table>
<%= paginate @applications %>