<table class="table-common">
  <tr>
    <td width="110"><%= image_tag user.normal_photo %></td>
    <td>
      <strong><%= user.full_name %></strong><br>
      e: <%= mail_to user.email %><br>
      m: <%= C12.format_mobile(user.mobile) %><br>
      <%= render partial: 'users/roles', locals: {user: user} %>
    </td>
  </tr>
</table>