<table class="table-common">
  <tr>
    <td width="110"><%= image_tag current_user.normal_photo %></td>
    <td style="padding-top: 16px;">
      <strong><%= current_user.full_name %></strong><br>
      e: <%= mail_to current_user.email %><br>
      m: <%= C12.format_mobile(current_user.mobile) %>
    </td>
  </tr>
</table>
<div class="well well-actions">
 <ul class="nav nav-list">
		<li><%= link_to icon_text('pencil', 'მონაცემების შეცვლა'), account_url %></li>
		<li><%= link_to icon_text('lock', 'პაროლის შეცვლა'), change_password_url %></li>
		<li><%= link_to icon_text('picture', 'გამოსახულების შეცვლა'), user_photo_url %></li>
</div>
