<%= simple_form_for(@user, :url => register_url, :html => {:id => 'register-form', :class => 'form-horizontal'}) do |f| %>
  <%= f.input :email, :label => 'ელ. ფოსტა', :input_html => {:autofocus => true} %>
  <%= f.input :password, :label => 'პაროლი', :required => true %>
  <%= f.input :password_confirmation, :label => 'დაადასტურეთ პაროლი', :required => true %>
  <%= f.input :mobile, :label => 'მობილური' %>
  <%= f.input :first_name, :label => 'სახელი' %>
  <%= f.input :last_name, :label => 'გვარი' %>	
  <div class="form-actions">
    <%= f.button :submit, 'რეგისტრაცია', :class => ['btn', 'btn-primary'] %>
  </div>
<% end -%>