<% if user.sys_admin -%><span class="badge badge-info"><%= tooltiped_text('სისადმინი', 'სისტემური ადმინისტრატორი') %></span><% end -%>
<% if user.new_cust_admin -%><span class="badge badge-info"><%= tooltiped_text('ქსელი', 'ქსელზე მიერთების მმართველი') %></span><% end -%>
<% if user.gis_viewer -%><span class="badge badge-info"><%= tooltiped_text('gis', 'GIS შეტყობინებეის ნახვა') %></span><% end -%>
<% if user.bs_admin -%><span class="badge badge-info"><%= tooltiped_text('bs-admin', 'ბილინგის ადმინისტრატორი') %></span><% end -%>
<% if user.bs_inspector -%><span class="badge badge-info"><%= tooltiped_text('bs-inspector', 'ბილინგის ინსპექტორი') %></span><% end -%>
<% if user.cra -%><span class="badge badge-info"><%= tooltiped_text('cra', 'რეესტრი') %></span><% end -%>
<% if user.call_center -%><span class="badge badge-info"><%= tooltiped_text('call', 'ქოლ-ცენტრის მომხმარებელი') %></span><% end -%>