<% if user.sys_admin -%><span class="badge badge-info"><%= tooltiped_text('სისადმინი', 'სისტემური ადმინისტრატორი') %></span><% end -%>
<% if user.new_cust_admin -%><span class="badge badge-info"><%= tooltiped_text('ქსელი', 'ქსელზე მიერთების მმართველი') %></span><% end -%>
<% if user.gis_viewer -%><span class="badge badge-info"><%= tooltiped_text('gis', 'GIS შეტყობინებეის ნახვა') %></span><% end -%>
<% if user.bs_admin -%><span class="badge badge-info"><%= tooltiped_text('bs-admin', 'ბილინგის სისტემის ადმინისტრატორი') %></span><% end -%>
<% if user.bs_inspector -%><span class="badge badge-info"><%= tooltiped_text('bs-inspector', 'ბილინგის სისტემის ინსპექტორი') %></span><% end -%>