<div class="page-header">
  <h2>სისტემაში შესვლა</h2>
</div>
<%= form_tag(login_url, :class => 'form-horizontal', :id => 'login-form') do |f| -%>
  <div class="control-group">
    <div class="control-label"><%= label_tag :email, 'ელ.ფოსტა' %></div>
    <div class="controls"><%= text_field_tag :email, params[:email], :autofocus => true %></div>
  </div>
  <div class="control-group">
    <div class="control-label"><%= label_tag :password, 'პაროლი' %></div>
    <div class="controls"><%= password_field_tag :password, params[:password] %></div>
  </div>
  <div class="form-actions">
    <%= submit_tag 'შესვლა', :class => ['btn', 'btn-primary'] %>
  </div>
<% end -%>

<div>
  <p class="muted">ახალი მომხმარებელი ხართ? გაიარეთ <%= link_to 'რეგისტრაცია აქ', register_url %>.</p>
  <p class="muted">დაგავიწყდათ პაროლი? მიჰყევით <%= link_to 'ამ ბმულს' %> თქვენი პაროლის აღსადგენად.</p>
  <p></p>
</div>