<script type="text/javascript">
  $(function() { Telasi.setFormWaitingOnSubmit('password-form'); });
</script>
<div class="page-header">
  <h2>პაროლის აღდგენა <small><%= @user.full_name %> <%= mail_to @user.email %></small></h2>
</div>
<p class="muted">
  ჩაწერეთ ახალი პაროლის მნიშვნელობა:
</p>
<%= simple_form_for(@user, :url => request.url, :html => {:id => 'password-form', :class => 'form-horizontal'}) do |f| -%>
	<%= f.input :password, :label => 'ახალი პაროლი', :input_html => {:autofocus => true} %>
	<%= f.input :password_confirmation, :label => 'პაროლის დადასტურება' %>
	<div class="form-actions">
		<%= f.submit 'პაროლის შეცვლა', :class => ['btn', 'btn-primary'] %>
		<%= link_to 'გაუქმება', home_url, :class => 'btn' %>
	</div>
<% end -%>
