<%= @search_form.html %>
<%= @customer_table.html %>
<%= paginate @customers %>
<div>
  ნაპოვნია: <code><%= C12.number_format(@customers.total_entries, 0) %></code> აბოენტი
</div>
<!--div class="page-header">
  <h1>აბონენტის ძებნა</h1>
</div-->

<!-- %= form_tag request.url, method: :get do % -->
<!-- div>
  <label for="name">აბონენტის ნომერი</label> <%= text_field_tag :accnumb, params[:accnumb], id: :name, autofocus: true %>
</div>
<div class="form-actions">
  <%= submit_tag 'ძებნა', class: ['btn', 'btn-primary'] %>
</div>
<% end % -->