<%= render partial: 'call/customers/top' %>
<%= @search_form.html %>
<%= @customer_table.html %>
<%= paginate @customers %>
<div>
  ნაპოვნია: <code><%= C12.number_format(@customers.total_entries, 0) %></code> აბოენტი
</div>