<%= render partial: 'call/customers/header' %>
<div class="btn-toolbar">
  <div class="pull-right">
    <%= link_to icon_text('user', 'აბონენტის თვისებები'), call_customer_info_url(custkey: @customer.custkey), class: 'btn' %>
  </div>
  <%= link_to icon_text('arrow-left', 'ყველა ოპერაცია'), call_customer_items_url(custkey: @customer.custkey), class: 'btn' %>
</div>
<%= properties_table @item,
  title: 'ოპერაციია', icon: 'fff/lightbulb.png',
  col1: {
    'customer.accnumb' => {label: 'აბ. ნომერი', tag: 'code'},
    'account.accid' => {label: 'ანგარიში', tag: 'code'},
    operation: 'ოპერაცია',
    itemdate: 'ოპერაციის თარიღი',
    reading: {label: 'წაკითხვა', post: 'kWh', tag: 'code'},
    kwt: {label: 'დარიცხვა', post: 'kWh', tag: 'code'},
    normal_amount: {label: 'თანხა', post: 'ლარი', tag: 'code'},
    normal_balance: {label: 'დავალიანება', post: 'ლარი', tag: 'code'},
    balance: {label: 'წინა დავალიანება', post: 'ლარი', tag: 'code'},
  },
  col2: {
    itemnumber: 'დოკუმენტის №', cycle?: 'ციკლურია?', enterdate: 'შეყვანის თარიღი',
    person: 'ოპერატორი',
  }
%>
<%= account_properties(@account) %>