<script type="text/javascript">
  $(function() {
    $('.details').click(function(evt) {
      var btn = evt.target;
      var id = $(btn).attr('data-tpid');
      if (btn.in_progress) {
        // just ignore this!!
      } else if (btn.for_close) {
        $('#details-' + id).hide('');
        btn.for_close = false;
        $(btn).text(btn.originalText);
        $(btn).removeClass('btn-danger');
      } else {
        if (btn.requested) {
          $('#details-' + id).show('');
          close_status(btn);
        } else {
          wait_status(btn);
          $.get('<%= sys_gis_details_url %>', {tpid: id}, function(data) {
            $('#details-' + id).html(data);
            close_status(btn);
            btn.requested = true;
          });
        }
      }
      return false;
    });
  });
  function close_status(btn) {
    $(btn).text('დახურვა');
    $(btn).removeClass('btn-warning');
    $(btn).addClass('btn-danger');
    btn.in_progress = false;
    btn.for_close = true;
  }
  function wait_status(btn) {
    btn.originalText = $(btn).text();
    btn.in_progress = true;
    $(btn).text('დაელოდეთ...');
    $(btn).addClass('btn-warning');
  }
</script>
<div class="page-header">
  <h3>ტრანსფორმატორები (<%= message.transformator_count %>)</h3>
</div>
<div>
  <% message.transformator_logs.each do |log| %>
    <div class="row transformator">
      <div class="span3">
        <p><%= image_tag 'fff/lightbulb.png' %> <strong><%= log.object %></strong></p>
        <% if log.object.acckey %>
          <p><%= icon('home') %> ბ/ც "<%= log.object.regionname %>"</p>
          <p class="muted"><%= log.object.address %></p>
        <% end %>
      </div>
      <div class="span9">
        <div>
          <div class="btn-toolbar">
            <% if log.object.acckey %>
              <a href="#" class="btn btn-mini details" data-id="<%= log.id %>" data-tpid="<%= log.object.acckey %>">
                ქუჩები (<%= log.object.street_count %>), აბონენტები (<%= log.object.account_count%>)
              </a>
            <% else %>
              <p class="muted">
                <%= image_tag 'fff/error.png' %> ეს ობიექტი არაა სინქრონიზირებული ბილინგის ბაზასთან!
              </p>
            <% end %>
          </div>
          <div id="details-<%= log.object.acckey %>"></div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>
