<style type="text/css">
  .transformator {margin-bottom: 0;}
</style>
<script type="text/javascript">
  var ids_in_process = [];
  var ids_in_process_streets = [];
  $(function() {
    $('.details').click(function(evt) {
      var id = $(evt.target).attr('data-tpid');
      if (ids_in_process.indexOf(id) == -1) {
        ids_in_process.push(id);
        $(evt.target).text('დაელოდეთ...');
        $.get('<%= sys_gis_details_url %>', {tpid: id}, function(data) {
          $('#details-' + id).html(data);
        });
      }
      return false;
    });
  });
</script>

<!-- Header -->
<div class="page-header">
  <h2>
    <% if @message.on %><%= image_tag 'fff/accept.png' %><% else %><%= image_tag 'fff/cancel.png' %><% end %>
    <%= C12::KA.format_date @message.created_at %> <small><%= @message.created_at.strftime('%H:%M:%S') %></small>
  </h2>
</div>
<div class="btn-toolbar">
  <%= link_to icon_text('arrow-left', 'ყველა შეტყობინება'), sys_gis_messages_url, class: 'btn' %>
  <%= link_to icon_text('share', 'შეტყობინების გადაგზავნა'), sys_gis_send_url(id: @message.id), class: 'btn', method: 'post', confirm: 'ნამდვილად გინდათ გაგზავნა?' %>
</div>

<!-- Message text -->
<div class="page-header">
  <h3>SMS შეტყობინების ტექსტი</h3>
</div>
<div>
  <code><%= @message.sms_text %></code>
</div>

<!-- Transformator text -->
<div class="page-header">
  <h3>ტრანსფორმატორების სია (<%= @message.tp_count %>)</h3>
</div>
<div>
  <% @message.logs.each do |log| %>
    <div class="row transformator">
      <div class="span3">
        <p><strong><%= log.object %></strong></p>
        <p class="muted"><%= log.object.address %></p>
      </div>
      <div class="span9">
        <div id="details-<%= log.object.acckey %>">
          <div class="btn-toolbar">
            <a href="#" class="btn btn-mini details" data-id="<%= log.id %>" data-tpid="<%= log.object.acckey %>">
              ქუჩები (<%= log.object.street_count %>), აბონენტები (<%= log.object.account_count%>)
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>