<div class="page-header">
  <h2>შეტყობინებები</h2>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th width="16"><%= icon('picture') %></th>
      <th width="100">ტიპი</th>
      <th width="150">გაგზავნის თარიღი</th>
      <th>მოკლე ცნობა</th>
      <th width="16"><%= icon('cog') %></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |msg| %>
      <tr>
        <td>
          <% if msg.on %>
            <%= image_tag 'fff/accept.png' %>
          <% else %>
            <%= image_tag 'fff/cancel.png' %>
          <% end %>
        </td>
        <td>
          <%= gislog_typeicon(msg) %>
          <%= gislog_type(msg) %>
        </td>
        <td><%= C12::KA.format_date msg.created_at, format: :short %> <%= msg.created_at.strftime('%H:%M:%S') %></td>
        <td>
          <% if msg.section? %>
            <% if msg.logs.size == 1 %>
              ქვესადგურის სექცია <code><%= msg.logs.first.object %></code>
            <% else %>
              <code><%= msg.logs.size %></code> ქვესადგურის სექცია
            <% end %>
          <% elsif msg.fider? %>
            <% if msg.logs.size == 1 %>
              ფიდერი <code><%= msg.logs.first.object %></code>
            <% else %>
              <code><%= msg.logs.size %></code> ფიდერი
            <% end %>
          <% elsif msg.transformator? %>
            <code><%= msg.regionkeys.size %></code> ბიზნეს ცენტრი;
            <code><%= msg.tp_count %></code> ტრანსფორმატორი;
            <code><%= msg.street_count %></code> ქუჩა;
            <code><%= msg.account_count %></code> აბონენტი;
          <% end %>
        </td>
        <td>
          <%= link_to icon('eye-open'), sys_gis_message_url(id: msg.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @messages %>