<div class="page-header">
  <h2>შეტყობინებები</h2>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th width="16"><%= icon('picture') %></th>
      <th width="150">გაგზავნის თარიღი</th>
      <th>მოკლე ცნობა</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |msg| %>
      <tr class="<%= msg.sent ? 'success' : 'warning' %>">
        <td>
          <% if msg.on %>
            <%= image_tag 'fff/accept.png' %>
          <% else %>
            <%= image_tag 'fff/cancel.png' %>
          <% end %>
        </td>
        <td>
          <%= link_to "#{C12::KA.format_date msg.created_at, format: :short} #{msg.created_at.strftime('%H:%M:%S')}", sys_gis_message_url(id: msg.id) %>
        </td>
        <td>
          <% if msg.section_count > 0 %>
            <% if msg.section_count == 1 %>
              ქვესადგურის სექცია <code><%= self.section_logs.first.object %></code>;
            <% else %>
              <code><%= msg.section_count %></code> ქვესადგურის სექცია;
            <% end %>
          <% end %>
          <% if msg.fider_count > 0 %>
            <% if msg.fider_count == 1 %>
              ფიდერი <code><%= self.fider_logs.first.object %></code>;
            <% else %>
              <code><%= msg.fider_count %></code> ფიდერი;
            <% end %>
          <% end %>
          <% if msg.transformator_count > 0 %>
            <code><%= msg.regionkeys.size %></code> ბიზნეს ცენტრი;
            <code><%= msg.transformator_count %></code> ტრანსფორმატორი;
            <code><%= msg.street_count %></code> ქუჩა;
            <code><%= msg.account_count %></code> აბონენტი;
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @messages %>