<%= render partial: 'sys/gis/gis_menu' %>
<div class="page-header">
  <h2>
    <% if @message.on %><%= image_tag 'fff/accept.png' %><% else %><%= image_tag 'fff/cancel.png' %><% end %>
    <%= C12::KA.format_date @message.created_at.localtime %> <small><%= @message.created_at.localtime.strftime('%H:%M:%S') %></small>
  </h2>
</div>
<div class="btn-toolbar">
  <div class="pull-right">
    <%= link_to '&larr; შემდეგი'.html_safe, sys_gis_message_url(id: @next.id), class: 'btn' if @next %>
    <%= link_to 'წინა &rarr;'.html_safe, sys_gis_message_url(id: @prev.id), class: 'btn' if @prev %>
  </div>
  <%= link_to icon_text('arrow-left', 'ყველა შეტყობინება'), sys_gis_messages_url, class: 'btn' %>
  <%= role_content :sys_admin do %>
    <%= link_to icon_text('share', 'შეტყობინების გადაგზავნა'), sys_gis_send_url(id: @message.id), class: 'btn', method: 'post', confirm: 'ნამდვილად გინდათ გაგზავნა?' %>
  <% end %>
</div>

<div class="row" style="margin-bottom: 16px; padding-bottom: 8px; border-bottom: 1px solid #eee;">
  <div class="span6">
    <div class="page-header">
      <h3>შეჯამება</h3>
    </div>
    <div>
      <%= render partial: 'sys/gis/message_info', locals: {msg: @message}%>
    </div>
  </div>
  <div class="span6">
    <div class="page-header">
      <h3><%= image_tag 'fff/comment.png'%> SMS შეტყობინება</h3>
    </div>
    <div>
      <code><%= @message.sms_text %></code><br>
    </div>
  </div>
</div>

<% if @message.section_logs.any? %>
  <div class="page-header">
    <h3>სექციები (<%= @message.section_logs.size %>)</h3>
  </div>
  <% @message.section_logs.each do |log| %>
    <div>
      <%= image_tag 'fff/lightning.png'%> <strong><%= log.object %></strong>
    </div>
  <% end %>
<% end %>

<% if @message.fider_logs.any? %>
  <div class="page-header">
    <h3>ფიდერები (<%= @message.fider_logs.size %>)</h3>
  </div>
  <% @message.fider_logs.each do |log| %>
    <div>
      <%= image_tag 'fff/disconnect.png'%> <strong><%= log.object %></strong>
    </div>
  <% end %>
<% end %>

<% if @message.transformator_logs.any? %>
  <%= render partial: 'sys/gis/message_transformators', locals: {message: @message} %>
<% end %>

<div class="page-header">
  <h3>ლოგები (<%= @message.logs.count %>)</h3>
</div>
<div>
  <%= render partial: 'sys/gis/logs', locals: {logs: @message.logs} %>
</div>