<div class="page-header">
  <div class="pull-right">
    <%= gislog_typeicon @message %>
    <%= gislog_type @message %>
  </div>
  <h2>
    <% if @message.on %><%= image_tag 'fff/accept.png' %><% else %><%= image_tag 'fff/cancel.png' %><% end %>
    <%= C12::KA.format_date @message.created_at %> <small><%= @message.created_at.strftime('%H:%M:%S') %></small>
  </h2>
</div>
<div class="btn-toolbar">
  <%= link_to icon_text('arrow-left', 'ყველა შეტყობინება'), sys_gis_messages_url, class: 'btn' %>
  <%= link_to icon_text('share', 'შეტყობინების გადაგზავნა'), sys_gis_send_url(id: @message.id), class: 'btn', method: 'post', confirm: 'ნამდვილად გინდათ გაგზავნა?' %>
</div>

<div class="page-header">
  <h3>SMS შეტყობინების ტექსტი</h3>
</div>
<div>
  <code><%= @message.sms_text %></code>
  (<%= @message.sms_text.size %> სიმბოლო)
</div>

<% if @message.transformator? %>
  <%= render partial: 'sys/gis/message_transformators', locals: {message: @message} %>
<% end %>

<div class="page-header">
  <h3>ლოგები (<%= @message.logs.count %>)</h3>
</div>
<div>
  <%= render partial: 'sys/gis/logs', locals: {logs: @message.logs} %>
</div>