<%= render partial: 'sys/gis/gis_menu' %>

<% unless @report.sent? %>
  <div style="padding-bottom: 32px;">
    <%= link_to 'ტექსტის შეცვლა', nil, class: 'btn' %>
    <%= link_to 'ყველაზე დაგზავნა', nil, class: ['btn', 'btn-danger'] %>
  </div>
<% end %>

<div class="row" style="padding-bottom: 32px;">
  <div class="span6">
    <code><%= @report.text_ka.split("\n").join('<br>').html_safe %></code>
  </div>
  <div class="span6">
    <code><%= @report.text_ru.split("\n").join('<br>').html_safe %></code>
  </div>
</div>

<%= table_for @report.details, title: 'მიმღებები' do |t|
  t.text_field 'receiver.mobile', tag: 'code', label: 'მობილური'
  t.text_field 'receiver.name', label: 'მიმღები'
  t.boolean_field 'sent', label: 'გაიზავნა?'
end %>