<% streets = Call::Outage.where(active: true).desc(:_id).map{ |x| x.streets }.flatten %>

<h3 class="page-header">გათიშული ქუჩები</h3>
<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>ქუჩა</th>
      <th>გათიშვა</th>
      <th>პერიოდი</th>
      <th>რაოდ.</th>
    </tr>
  </thead>
  <tbody>
    <% if streets.any? %>
      <% streets.each do |str| %>
      <tr>
        <td>
          <strong><%= str.region %></strong> &mdash;
          <%= str.streetname %>
        </td>
        <td>
          <code><%= str.outage.accnumb %></code>
          <strong><%= str.outage.category_name %></strong>
          <span class="muted"><%= str.outage.description %></span>
        </td>
        <td>
          <%= str.outage.start %> &mdash; <%= str.outage.end %>
        </td>
        <td><code><%= str.count %></code> აბონენტი</td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" style="padding:32px; color: #aaa; text-align: center;">ყველა ქუჩა განათებულია!</td>
      </tr>
    <% end %>
  </tbody>
</table>