<%
  outage = nil if not defined?(outage)
  streets = (outage ? [outage] : Call::Outage.where(active: true).desc(:_id)).map{ |x| x.streets }.flatten
%>

<h3 class="page-header">
  გათიშული ქუჩები
</h3>
<% if outage %>
  <div class="alert" style="padding: 8px 14px;">
    <div class="pull-right">
      <% params2 = request.params.clone ; params2.delete(:id) %>
      <%= link_to 'ყველა გამორთვა', url_for(params2) %>
    </div>
    ფილტრი: <strong><%= outage.parent.custname.to_ka rescue '' %></strong>
    <span class="muted"><%= outage.customer.custname.to_ka %></span>
  </div>
<% end %>
<table class="table table-bordered table-stripped">
  <thead>
    <tr>
      <th>ობიექტი</th>
      <th>ქუჩა</th>
      <th>მიზეზი</th>
      <th>პერიოდი</th>
      <th>რაოდ.</th>
    </tr>
  </thead>
  <tbody>
    <% if streets.any? %>
      <% streets.each_with_index do |str, idx| %>
        <tr>
          <td>
            <% params3 = request.params.clone ; params3[:id] = str.outage.id.to_s %>
            <strong><%= link_to str.outage.parent.custname.to_ka, url_for(params3) %></strong>
            <span class="muted"><%= str.outage.accnumb %></span>
          </td>
          <td>
            <strong><%= str.region %></strong> &mdash;
            <%= str.streetname %>
          </td>
          <td>
            <strong><%= str.outage.category_name %></strong>
            <span class="muted"><%= str.outage.description %></span>
          </td>
          <td>
            <%= str.outage.start %> &mdash; <%= str.outage.end %>
          </td>
          <td><code><%= str.count %></code> აბონენტი</td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="5" style="padding:32px; color: #aaa; text-align: center;">ყველა ქუჩა განათებულია!</td>
      </tr>
    <% end %>
  </tbody>
</table>