<style type="text/css">
  .map-container { position: fixed; top: 40px; bottom: 0; left: 0; right: 0; background: white; }
  .map-container .details { width: 250px; background: #fafafa; position: absolute; top: 0; left: 0; bottom: 0; padding: 10px 10px; }
  #map { width: 700px; height: 500px; }
  #map label { width: auto; display:inline; }
  #map img { max-width: none; max-height: none; }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD_wcFfq6rCVz4A4HCMypFizALZ1IK3jZg&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @region.latitude %>, <%= @region.longitude %>);
    var myOptions = { center: myLatlng, zoom: 16, mapTypeId: google.maps.MapTypeId.HYBRID };
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    var marker = new google.maps.Marker({ position: myLatlng, map: map, animation: google.maps.Animation.DROP, title:"ცენტრალური ფილიალი" });
    var infowindow = new google.maps.InfoWindow({
        content: '<h3>ბ/ც "<%= @region.name %>"</h3><p class="muted"><%= @region.address %></p><p>ტელ: <%= @region.phone %></p>'
    });
    infowindow.open(map, marker);
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }
  $(function() {
    initialize();
  });
</script>

<div id="map"></div>

<div class="page-header">
  <h3>აბონენტი №<%= @customer.accnumb.to_ka %></h3>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <th width="150" class="right">დასახელება</th>
    <td><%= @customer.custname.to_ka %> <br></td>
  </tr>
  <tr>
    <th class="right">მისამართი</th>
    <td>
      <%= @customer.address %>
    </td>
  </tr>
  <tr>
    <th class="right">აბონენტს ემსახურება</th>
    <td>
      <span class="muted">ბიზნეს-ცენტრი:</span> <strong><%= @customer.address.region.regionname.to_ka %></strong><br>
      <span class="muted">ტელეფონი:</span> <%= @customer.address.region.phone %><br>
      <span class="muted">მისამართი:</span> <%= @customer.address.region.address %>
      
    </td>
  </tr>
</table>
<div class="page-header">
  <h4>დავალიანება</h4>
</div>
<div class="row debt">
  <div class="span3 center">
    <div class="logo"><%= image_tag 'telasi2.png' %></div>
    <div>
      <span class="number badge badge-warning"><%= C12.number_format(@customer.normal_balance) %></span> ლარი
    </div>
  </div>
  <div class="span3 center">
    <div class="logo"><%= image_tag 'meria.png' %></div>
    <div>
      <span class="number badge badge-success"><%= C12.number_format(@customer.normal_trash_balance) %></span> ლარი
    </div>
  </div>
  <div class="span3 center">
    <div class="logo"><%= image_tag 'water.png' %></div>
    <div>
      <span class="number badge badge-info"><%= C12.number_format(@customer.normal_water_balance) %></span> ლარი
    </div>
  </div>
</div>
<div class="page-header">
  <h4>ქვითარი</h4>
  <% last_bill = @customer.item_bills.last %>
</div>
<div>
  <p>
    ბოლო ქვითარი დაიბეჭდა:
    <code><strong>
      <% if last_bill %>
        <%= C12::KA.format_date last_bill.billdate %>
      <% else %>
        --
      <% end %>
    </code></strong>
  </p>
  <% if @customer.cut_candidate? %>
    <div class="alert alert-error alert-block">
      <p>თქვენ გემუქრებათ ელ. ენერგიის მიწოდების შეზღუდვა. გთხოვთ დროულად დაფაროთ დავალიანება!</p>
      <p>გათიშვის სავარაუდო თარიღია: <code><strong><%= C12::KA.format_date(last_bill.billdate + 10.days) %></strong></code>.</p>
    </div>
  <% else %>
    <div class="alert alert-success alert-block">
      თქვენი დავალიანება სრულადაა დაფარული!
    </div>
  <% end %>
</div>
