<script type="text/javascript">
  $(function() { Telasi.setFormWaitingOnSubmit('user-form'); });
</script>
<style type="text/css">
.regions span { display: inline-block; white-space: nowrap; }
.regions input { display: inline-block; }
.regions label { display: inline-block; padding: 5px 15px 5px 5px; }
</style>
<div class="page-header">
  <h3>მომხმარებლის შეცვლა</h3>
</div>
<%= simple_form_for(@user, url: request.url, html: {id: 'user-form', class: 'form-horizontal'}) do |f| -%>
  <h4>ძირითადი მონაცემები <small>სახელი, გვარი და საკონტაქტო ინფორმაცია</small></h4> <hr>
  <%= f.input :email, label: 'ელ.ფოსტა', input_html: {autofocus: true} %>
  <%= f.input :password, label: 'პაროლი' %>
  <%= f.input :first_name, label: 'სახელი' %>
  <%= f.input :last_name, label: 'გვარი' %>
  <%= f.input :language, label: 'ენა' %>
  <%= f.input :email_confirmed, as: 'boolean', label: false, inline_label: 'დადასტურებული ელ.ფოსტა?' %>
  <h4>როლები <small>რისი გაკეთება შეუძლია ამ მომხმარებელს?</small></h4> <hr>
  <%= f.input :sys_admin, as: 'boolean', label: false, inline_label: 'არის თუ არა სისტემური ადმინისტრატორი?' %>
  <%= f.input :new_cust_admin, as: 'boolean', label: false, inline_label: 'არის თუ არა ახალი აბონენტების განცხადებათა ადმინისტრატორი?' %>
  <%= f.input :gis_viewer, as: 'boolean', label: false, inline_label: 'GIS შეტყობინებების მნახველი' %>
  <%= f.input :bs_admin, as: 'boolean', label: false, inline_label: 'BS ადმინისტრატორი' %>
  <%= f.input :bs_inspector, as: 'boolean', label: false, inline_label: 'BS ინსპექტორი' %>
  <%= f.input :bs_person, label: 'ბილინგის კოდი' %>
  <%= f.input :cra, as: 'boolean', label: false, inline_label: 'რეესტრის მონაცემების ნახვა' %>
  <h4>ქოლ-ცენტრის უფლებები</h4> <hr>
  <%= f.input :call_center, as: 'boolean', label: false, inline_label: 'ქოლ-ცენტრის პროგამით სარგებლობა' %>
  <h5>რეგიონები:</h5> <hr>
  <%= f.input :all_regions, as: 'boolean', label: false, inline_label: 'ყველა რეგიონზე აქვს წვდომა?' %>
  <div class="regions">
    <div class="muted">
      თუ ყველა რეგიონზე არ აქვს წვდომა, მაშინ განსაზღვრეთ, თუ რომელზე აქვს:
    </div>
    <%= f.collection_check_boxes :region_ids, @regions, :id, :name %>
  </div>
  <div class="form-actions">
    <%= f.submit 'შენახვა', class: ['btn', 'btn-primary'] %>
    <%= link_to 'გაუქმება', sys_users_path, class: 'btn' %>
  </div>
<% end -%>