<%= role_content :sys_admin, :gis_viewer do -%>
  <div class="page-header">
    <h3><%= t(:gis_logs_title) %></h3>
  </div>
  <ul class="nav nav-list">
    <li><%= link_to icon_text('envelope', t(:gis_logs)), sys_gis_messages_path %></li>
    <li><%= link_to icon_text('list', t(:gis_network_logs)), sys_gis_logs_path %></li>
  </ul>
  <%= role_content :sys_admin do %>
    <div class="page-header">
      <h4><%= t(:gis_network_objects) %></h4>
    </div>
    <ul class="nav nav-list">
      <li><%= link_to icon_text('star', t(:gis_station_sections)), sys_sections_url %></li>
      <li><%= link_to icon_text('star', t(:gis_fiders)), sys_fiders_url %></li>
      <li><%= link_to icon_text('star', t(:gis_transformers)), sys_transformators_path %></li>
    </ul>
    <div class="page-header">
      <h4><%= t(:gis_config) %></h4>
    </div>
    <ul class="nav nav-list">
      <li><%= link_to icon_text('user', t(:gis_mailing_list)), sys_gis_receivers_url %></li>
    </ul>
  <% end %>
<% end %>