<div class="row">

  <div class="span8">
  
    <!-- pulbic section -->

    <div class="page-header">
      <h3>სერვისები</h3>
    </div>
    <ul class="nav nav-list">
      <li><%= link_to icon_text('file', 'ელექტრონული განცხადებები'), apps_home_path %></li>
    </ul>

    <!-- sys_admin section -->

    <%= role_content :sys_admin do -%>
      <div class="page-header">
        <h3>ადმინისტრირება</h3>
      </div>
      <ul class="nav nav-list">
        <li><%= link_to icon_text('user', 'მომხმარებლების მართვა'), sys_users_path %></li>
      </ul>
    <% end -%>

  </div>

  <div class="span4">
    <%= render :partial => 'users/info', :locals => {:user => current_user} %>
    <div class="well well-actions">
      <ul class="nav nav-list">
	    <li><%= link_to icon_text('pencil', 'მონაცემების შეცვლა'), account_path %></li>
        <li><%= link_to icon_text('lock', 'პაროლის შეცვლა'), change_password_path %></li>
        <li><%= link_to icon_text('picture', 'გამოსახულების შეცვლა'), user_photo_path %></li>
      </ul>
    </div>
  </div>

</div>