<style type="text/css">
  .features-image { height: 250px; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; overflow: hidden; border: 1px solid #aaa; }
  .features-image a { display: block; height: 250px; text-decoration: none; }
  .features-image a:hover { text-decoration: none; }
  .features h2 { font-size: 18px; }
</style>
<div class="row features">
  <div class="span6">
    <div class="features-image" style="background: url(/assets/index/debt.png) no-repeat 50% 50%;">
      <%= link_to '', debt_url %>
    </div>
    <div>
      <h2><%= t(:site_charge) %></h2>
      <p><%= t(:site_charge_text) %></p>
      <p><%= link_to "#{t(:site_charge)} &rarr;".html_safe, debt_url %></p>
    </div>
  </div>
  <div class="span6">
    <div class="features-image" style="background: url(/assets/index/map01.png) no-repeat 50% 50%;">
      <%= link_to '', map_url  %>
    </div>
    <div>
      <h2><%= t(:site_map) %></h2>
      <p><%= t(:site_map_text) %></p>
      <p><%= link_to link_to "#{t(:site_map)} &rarr;".html_safe, map_url %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="span4"><%= render partial: 'site/user' %></div>
  <div class="span4"><%= render partial: 'site/bs' %></div>
  <div class="span4"><%= render partial: 'site/gis' %></div>
</div>