<%= render :partial => 'apps/new_customer/header' %>
<p class="muted">
  აქ ასახეთ ქსელში ჩასართველი აბონენტ(ებ)ის შესახებ ინფორმაცია.
</p>
<div class="btn-toolbar">
  <%= link_to icon_text('plus', 'ახალი ჩანაწერი'), apps_new_customer_new_item_path, :class => 'btn' %>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>აბონენტი</th>
      <th width="250">ძაბვის საფეხური / სიმძლავრე</th>
      <th width="16"><%= icon('cog') %></th>
    </tr>
  </thead>
  <tbody>
    <% if @application.new_customer_application.items.any? %>
      <% @application.new_customer_application.items.each do |item| %>
        <tr>
          <td>
            <% if item.type == Apps::NewCustomerItem::TYPE_DETAIL %>
              <%= item.name %> <span class="muted">&mdash; <%= item.tin %></span>
            <% else -%>
              ჯამური: <strong><%= item.count %></strong> აბონენტი
            <% end -%><br>
            <span class="muted"><%= item.address %> &mdash; <%= item.address_code %></span>
          </td>
          <td class="right">
            <%= item.voltage %> კვ / <%= C12.number_format item.power %> კვტ <br>
            <span class="muted"><%= new_customer_use_name(item.use) %></span>
          </td>
          <td>
            <%= link_to icon('pencil', :tooltip => 'შეცვლა', :tooltip_placement => :left), apps_new_customer_edit_item_path(item_id: item.id) %>
            <br>
            <%= link_to icon('trash', :tooltip => 'წაშლა', :tooltip_placement => :left), apps_new_customer_delete_item_path(item_id: item.id), :method => :delete, data: {confirm: 'ნამდვილად გინდათ ჩანაწერის წაშლა?'} %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" class="muted">აბონენტების სია ცარიელია</td>
      </tr>
    <% end -%>
  </tbody>
</table>