<style type="text/css">
  @media print {
    @page {
      size: A4 portrait;
      margin: 10mm;
      counter-increment: page;
      @bottom-right {
        content: "Page ";
      }
    }
  }
  .right { text-align: right; }
  .center { text-align: center; }
  h1 { font-size: 1.6em; }
  h2 { font-size: 1.3em; }
  .title { letter-spacing: 3mm; margin-top: 30mm; }
  .field { padding: 5px 10px; display: inline-block; border-bottom: 1px solid black; }
  .table { width: 100%; }
  .table td, .table th { padding: 2mm; }
  .table td.field { border-bottom: 1px solid black; }
  .table td.note { padding:0; text-align: center; font-size: 0.5em; color: #aaa; }
  .table-bordered { border-collapse: collapse; }
  .table-bordered td, .table-bordered th { border: 1px solid black; }
  .larger { font-size: 2em; }
  .smaller { font-size: 0.8em; }
</style>
<div class="page">
  <p class="right" style="margin-top: 20mm;">
    &quot;დამტკიცებულია&quot;<br><br>
    საქართველოს ენერგეტიკისა და წყალმომარაგების<br>
    მარეგულირებელი ეროვნული კომისიის<br>
    2011 წლის 22 ნოემბრის №30/1 გადაწყვეტილებით
  </p>
  <h1 class="center title">განცხადება</h1>
  <p class="center">გამანაწილებელ ქსელზე ახალი მომხარებლის მიერთების მოთხოვნის შესახებ</p>
  <p>
    განაცხადის შევსების  თარიღი:
    <span class="field">
      <% if @application.new_customer_application.send_date %>
        <%= C12::KA.format_date @application.new_customer_application.send_date %>
      <% else %>
        <% 20.times do %>&nbsp;&nbsp;<% end %>
      <% end %>
    </span>
  </p>

  <h2 class="center" style="margin-top: 10mm;">I. ზოგადი ინფორმაცია</h2>
  <table class="table">
    <tr>
      <td>ელექტროენერგიის განაწილების ლიცენზიატი:</td>
      <td style="width: 80mm;" class="field">სს &quot;თელასი&quot;</td>
    </tr>
    <tr>
      <td>მიერთების მსურველი (განმცხადებლი):</td>
      <td style="width: 80mm;" class="field">
        <%= @application.applicant.name %>
      </td>
    </tr>
    <tr>
      <td class="note"></td>
      <td style="width: 80mm;" class="note">(სახელი, გვარი ან იურიდიული პირის შემთხვევაში მისი სახელი (სახელწოდება), ან სხვა პირის შემთხვევაში მისი სახელწოდება)</td>
    </tr>
    <tr>
      <td>საიდენტიფიკაციო კოდი:</td>
      <td style="width: 80mm;" class="field">
        <%= @application.applicant.tin %>
      </td>
    </tr>
    <tr>
      <td class="note"></td>
      <td style="width: 80mm;" class="note">(იურიდიული პირის ან ინდმეწარმის ან სხვა მეწარმე სუბიექტის შემთხვევაში)</td>
    </tr>
  </table>
  <p>მიერთების მსურველის (განმცხადებლის) საკონტაქტო ინფორმაცია:</p>
  <table class="table">
    <tr>
      <td style="width: 35mm;">მისამართი:</td>
      <td style="width: 140mm;" class="field">
        <%= @application.applicant.address %>
      </td>
    </tr>
    <tr>
      <td style="width: 35mm;">მობილური:</td>
      <td style="width: 140mm;" class="field">
        <%= @application.applicant.mobile %>
      </td>
    </tr>
    <tr>
      <td style="width: 35mm;">ელ.ფოსტა:</td>
      <td style="width: 140mm;" class="field">
        <%= @application.applicant.email %>
      </td>
    </tr>
  </table>
  <p>
    მიერთების მსურველის (განმცხადებლის) საბანკო რეკვიზიტები:
    <span class="field">
      <% if not @application.applicant.bank_mfo.blank? or not @application.applicant.bank_acc.blank? %>
        <%= @application.applicant.bank_mfo %>
        <%= @application.applicant.bank_acc %>
      <% else %>
        <% 110.times do %>&nbsp;&nbsp;<% end %>
      <% end %>
    </span>
  </p>
  <p>
    ადგილი (მისამართი) სადაც უნდა მოხდეს ელექტრომომარაგება:
    <span class="field">
      <% if @application.new_customer_application.items.first %>
        <%= @application.new_customer_application.items.first.address %>
      <% else %>
        <% 110.times do %>&nbsp;&nbsp;<% end %>
      <% end %>
    </span>
  </p>
  <p>
    განაწილების ლიცენზიატის მიერ შეტყობინების გაგზავნის ფორმა:<br>
    <%= print_checkbox(true) %> წერილობითი; <%= print_checkbox(true) %> ელექტრონული
  </p>
</div>
<div class="page break">
  <h2 class="center">
    II. ერთი ან ორი აბონენტის მიერთების მოთხოვნის შემთხვევაში
    <%= print_checkbox(@item1 || @item2) %>
  </h2>
  <p class="center smaller">
    (ივსება მხოლოდ მიერთების შედეგად ერთი ან ერთდროულად ორი აბონენტის რეგისტრაციის მოთხოვნის შემთხვევაში)
  </p>
  <p>
    განაცხადით მოთხოვნილი აბონენტთა რაოდენობა:
    <%= print_checkbox(@count == 1) %> ერთი;
    <%= print_checkbox(@count == 2) %> ორი.  
  </p>
  <table class="table table-bordered">
    <tr>
      <td width="50%"><%= render partial: 'apps/new_customer/customer_print_details', locals: {item: @item1} %></td>
      <td width="50%"><%= render partial: 'apps/new_customer/customer_print_details', locals: {item: @item2} %></td>
    </tr>
  </table>
</div>
<div class="page break">
  <h2 class="center">
    III. ერთდროულად სამი ან სამზე მეტი აბონენტის  მიერთების მოთხოვნის შემთხვევაში
    <%= print_checkbox(@item1.nil?) %>
  </h2>
  <p class="center smaller">
    (ივსება მხოლოდ მიერთების შედეგად ერთდროულად სამი ან სამზე მეტი ანობენტთა  რეგისტრაციის მოთხოვნის შემთხვევაში)
  </p>
  <p>
    განაცხადით მოთხოვნილი აბონენტთა (ინდ.აღრიცხვა) საერთო რაოდენობა:
    <span class="field">
      <% if @item1.nil? %><%= @application.new_customer_application.count_by_use %><% end %>
    </span>
  </p>
  <p>
    საყოფაცხოვრებო და არასაყოფაცხოვრებო აბონენტთა რაოდენობა:
  </p>
  <p>
    საყოფაცხოვრებო
    <span class="field">
      <% if @item1.nil? %>
        <%= @application.new_customer_application.count_by_use(Apps::NewCustomerItem::USE_PERSONAL) %>
      <% else %>
        <%=html_spaces(10)%>
      <% end %>
    </span>;
    არასაყოფაცხოვრებო
    <span class="field">
      <% if @item1.nil? %>
        <%= @application.new_customer_application.count_by_use(Apps::NewCustomerItem::USE_NOT_PERSONAL) %>
      <% else %>
        <%=html_spaces(10)%>
      <% end %>
    </span>;
    საერთო სარგებლობის
    <span class="field">
      <% if @item1.nil? %>
        <%= @application.new_customer_application.count_by_use(Apps::NewCustomerItem::USE_SHARED) %>
      <% else %>
        <%= html_spaces(10) %>
      <% end %>
    </span>;
  </p>
  <p>
    უძრავი ქონების საკადასტრო კოდი (სადაც უნდა მოხდეს ელექტრომომარაგება):
    <span class="field">
      <% if @item1.nil? and @application.new_customer_application.items.first %>
        <%= @application.new_customer_application.items.first.address_code %>
      <% else %>
        <%= html_spaces(20) %>
      <% end %>
    </span>
  </p>
  <p>
    საცხოვრებელი ბინის, საწარმოს ან სხვა სახის ობიექტის (ან ობიექტების) სამშენებლო-საპროექტო
    დოკუმენტაციით განსაზღვრული (დადგენილი) მისაერთებელი სიმძლავრე:
    <span class="field">
      <% if @item1.nil? %>
        <%= C12.number_format @application.new_customer_application.power %> კვტ
      <% else %>
        <%= html_spaces(20) %>
      <% end %>
    </span>
  </p>
  <p>
    გამანაწილებელ ქსელზე მიერთების საფასური (შეთავაზებული პაკეტის მიხედვით):
    <span class="field">
      <% if @item1.nil? %>
        <%= C12.number_format @application.new_customer_application.amount %> ლარი
      <% else %>
        <%= html_spaces(20) %>
      <% end %>
    </span>
  </p>
  
  <h2 class="center">
    IV. თანდართული დოკუმენტაცია:
  </h2>
  <p>
    მიერთების საფასურის 50%-ის გადახდის დამადასტურებელი საბუთი
    <%= print_checkbox %>
  </p>
  <p>
    ერთდროულად სამი ან სამზე მეტი აბონენტის რეგისტრაციის მოთხოვნის შემთხვევაში:
    <%= print_checkbox(@item1.nil?) %>
  </p>
  <p>
    საპროექტო ორგანიზაციის მიერ დამოწმებული, მისაერთებელი ობიექტის "პროექტის ელექტრულ ნაწილზე"
    ახსნა–განმარტებითი ბარათი (რომელიც დამუშავებულია, დამტკიცებული პროექტის არქიტექტურულ–სამშენებლო ნაწილის მონაცემების საფუძველზე)  
    <%= print_checkbox(@item1.nil?) %>
  </p>
  <p>
    აბონენტების მიხედვით დაზუსტებული მისამართები მოთხოვნილი ძაბვის საფეხური და მოთხოვნილი სიმძლავრეები
    &mdash; შევსებული დანართი 1.1 მიხედვით;
    <%= print_checkbox(@item1.nil?) %>
  </p>

  <h2 class="center">
    V. განაცხადის პირობები
  </h2>
  <p>
    1. ამ განაცხადის ხელმოწერით ვადასტურებ, რომ  განაწილების ლიცენზიატის მიერ ამ განაცხადის მიღებისა და მასში
    ასახული პირობების შესრულების შემთხვევაში, შევასრულებ საქართველოს ენერგეტიკისა და წყალმომარაგების
    მარეგულირებელი კომისიის მიერ დამტკიცებული "ელექტროენერგიის (სიმძლავრის) მიწოდებისა და მოხმარების წესებით"
    განსაზღვრულ ვალდებულებებს, მათ შორის დროულად გადავიხდი გამანაწილებელ ქსელზე ახალი მომხმარებლის მიერთების დადგენილ საფასურს.
  </p>
  <p>
    განმცხადებლის ხელმოწერა: <span class="field"><%= html_spaces(100) %></span>
  </p>
</div>
<% unless @item1 %>
  <div class="page break">
    <h2 class="center">დანართი 1.1</h2>
    <p class="center">
      აბონენტების მიხედვით დაზუსტებული მისამართები მოთხოვნილი ძაბვის საფეხური<br>
      და მოთხოვნილი სიმძლავრეები
    </p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="15">#</th>
          <th>აბონენტის დაზუსტებული მისამართი</th>
          <th width="100">
            აბონენტის (მოხმარებული ელ. ენერგიის საფასურის გადახდაზე პასუხისმგებელი პირის)
            სახელი, გვარი ან იურიდიული პირის სახელი
          </th>
          <th width="100">პირადი ნომერი ან იურიდიული პირის საიდენტიფიკაციო კოდი</th>
          <th width="100">მოთხოვნილი ძაბვის საფეხური (0,220, 0,380 ან 6/10 კვ.)</th>
          <th width="100">მოთხოვნილი სიმძლავრე კვტ.</th>
        </tr>
      </thead>
      <tbody>
        <% i = 1; @application.new_customer_application.items.each do |item| %>
          <tr>
            <td class="right"><%= i %></td>
            <td><%= item.address %></td>
            <% if item.tin.blank? %>
              <td colspan="2" class="center"><%= item.count %> აბონენტი</td>
            <% else %>
              <td><%= item.name %></td>
              <td><%= item.tin %></td>
            <% end %>
            <td class="right"><%= item.voltage %></td>
            <td class="right"><%= C12.number_format item.power %></td>
          </tr>
        <% i += 1; end %>
      </tbody>
    </table>
    <p>
      შენიშვნა: მოცემულ შემთხვევაში მისაერთებელი სიმძლავრის განსაზღვრა არ ხდება "მოთხოვნილი სიმძლავრის"
      სვეტში არსებული მონაცემების დაჯამებით, არამედ &mdash; სამშენებლო-საპროექტო დოკუმენტაციით განსაზღვრული
      (დადგენილი) მისაერთებელი სიმძლავრის მიხედვით.
    </p>
  </div>
<% end %>