<%= render :partial => 'apps/new_customer/header' %>
<%= render partial: 'apps/new_customer/calculations' %>

<div class="row">
  <div class="span6">
    <%= render partial: 'apps/new_customer/applicant', locals: {applicant: @application.applicant} %>
  </div>
  <div class="span6">
    <%= render partial: 'apps/new_customer/other_actions' %>
   	<%= render partial: 'apps/new_customer/last_note' %>
  </div>
</div>