<style type="text/css">
  .map-container { position: fixed; top: 40px; bottom: 0; left: 0; right: 0; background: white; }
  .map-container .details { width: 250px; background: #fafafa; position: absolute; top: 0; left: 0; bottom: 0; padding: 10px 10px; }
  #map { width: 700px; height: 300px; }
  #map label { width: auto; display:inline; }
  #map img { max-width: none; max-height: none; }
  .debt { padding: 32px 0; }
  .history { padding: 32px 0 0 0; }
  .logo { height: 64px; }
  .number { font-family: Courier; font-size: 18px; }
  .note { color: #aaa; padding: 50px 0 25px 0; text-align: center; }
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD_wcFfq6rCVz4A4HCMypFizALZ1IK3jZg&sensor=false">
</script>
<script type="text/javascript">
  function initializeMap() {
    var position = new google.maps.LatLng(<%= @region.latitude %>, <%= @region.longitude %>);
    var map_center = new google.maps.LatLng(<%= @region.latitude + 0.0014 %>, <%= @region.longitude %>);
    var map = new google.maps.Map(document.getElementById("map"), { center: map_center, zoom: 16, mapTypeId: google.maps.MapTypeId.ROADMAP });
    var marker = new google.maps.Marker({ position: position, map: map, animation: google.maps.Animation.DROP, title: '<%= @region.name %>' });
    var infowindow = new google.maps.InfoWindow({
        content: '<h3>ბ/ც "<%= @region.name %>"</h3><p class="muted"><%= @region.address %></p><p>ტელ: <%= @region.phone %></p>',
        disableAutoPan: true
    });
    infowindow.open(map, marker);
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
  }
  $(function() {
    initializeMap();
    $('.disabled').click(function() {
      return false;
    });
  });
</script>
<div class="page-header">
  <h3>
    <%= @customer.custname.to_ka %>
    <span class="badge badge-warning" style="font-size: 0.8em;">აბ. №<%= @customer.accnumb.to_ka %></span>
    <small><%= @customer.address %></small>
  </h3>
</div>
<div class="region">
  <p class="muted">თქვენ გემსახურებათ ბიზნეს ცენტრი:</p>
  <div id="map"></div>
</div>
<div class="row debt">
  <div class="span3 center">
    <div class="logo"><%= image_tag 'telasi2.png' %></div>
    <div>
      <span class="number badge badge-warning"><%= C12.number_format(@customer.normal_balance) %></span> ლარი
    </div>
    <% if current_user.confirmed?(params[:accnumb])%>
      <div class="history center">
        <%= link_to 'ისტორიის ნახვა', history_url(accnumb: @customer.accnumb), class: ['btn', 'btn-warning'] %>
      </div>
    <% end %>
  </div>
  <div class="span3 center">
    <div class="logo"><%= image_tag 'meria.png' %></div>
    <div>
      <span class="number badge badge-success"><%= C12.number_format(@customer.normal_trash_balance) %></span> ლარი
    </div>
    <% if current_user.confirmed?(params[:accnumb])%>
      <div class="history center">
        <%= link_to 'ისტორიის ნახვა', trash_history_url(accnumb: @customer.accnumb), class: ['btn', 'btn-success'] %>
      </div>
    <% end %>
  </div>
  <div class="span3 center">
    <div class="logo"><%= image_tag 'water.png' %></div>
    <div>
      <span class="number badge badge-info"><%= C12.number_format(@customer.normal_water_balance) %></span> ლარი
    </div>
    <% if current_user.confirmed?(params[:accnumb])%>
      <div class="history center">
        <%= link_to 'ისტორიის ნახვა', nil, class: ['btn', 'btn-info', 'disabled'] %>
      </div>
    <% end %>
  </div>
</div>
<div>
  <% last_bill = @customer.item_bills.last %>
  <p>
    ბოლო ქვითარი დაიბეჭდა:
    <code><strong>
      <% if last_bill %>
        <%= C12::KA.format_date last_bill.billdate %>
      <% else %>
        --
      <% end %>
    </code></strong>
  </p>
  <% if @customer.cut_candidate? %>
    <div class="alert alert-error alert-block">
      <p>თქვენ გემუქრებათ ელ. ენერგიის მიწოდების შეზღუდვა. გთხოვთ დროულად დაფაროთ დავალიანება!</p>
      <p>გათიშვის სავარაუდო თარიღია: <code><strong><%= C12::KA.format_date(last_bill.billdate + 10.days) %></strong></code>.</p>
    </div>
  <% else %>
    <div class="alert alert-success alert-block">
      თქვენი დავალიანება სრულადაა დაფარული!
    </div>
  <% end %>
</div>

