.nav-collapse
	%ul.nav
		- if items
			- items.each do |key, val|
				%li{:class => (page == key ? 'active' : nil)}
					%a{:href => "/#{key}"}= val
	%ul.nav.pull-right
		- if secondary_items
			- secondary_items.each do |key, val|
				%li{:class => (page == key ? 'active' : nil)}
					%a{:href => "/#{key}"}= val
		- if user
			%li.dropdown
				%a#user-info.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}= user.full_name
				%ul.dropdown-menu
					%li= link_to 'ანგარიშის მართვა', account_url
					%li= link_to 'პაროლის შეცვლა', change_password_url
					%li.divider
					%li= link_to 'გასვლა', logout_url, :confirm => 'ნამდვილად გინდათ გასვლა?'