<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || 'telasi.ge' %></title>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => 'layouts/header' %>
    <div class="container">
      <%= bootstrap_alert(alert, :class => :error) %>
      <%= bootstrap_alert(notice, :class => :warning) %>
      <%= yield %>
      <%= render :partial => 'layouts/footer' %>
    </div>
  </body>
</html>